.Modal {

    background: white;
    z-index: 500;
    position: fixed;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    top: 30%;
    left: 15%;
    transition: 0.3s ease-out;
}
.ModalButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media(min-width: 600px){
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}